* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}

p {
    padding-bottom: 20px;
}

container{
    width: 100%;
}

h1 {
    font-size: 36pt;
    font-weight: bolder;
}

h2{
    color: black;
    font-size: 24pt;
    font-weight: 400;
    padding-bottom: 10px;
}

#titleImage{
    position: relative;
    top: 0;
    background-image: url("../images/title_image.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 210px;
    z-index: 2;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 210px;
    padding: 50px;
    margin-bottom: 10px;
    border-bottom: rgb(12, 64, 152) 4px solid; 
    color: white;
    font-weight: bold;
    font-size: 48pt;
    text-align: center;
    background-color: rgb(44, 97, 187);
    z-index: 1;
}

.GameRules{
    color: rgb(78, 80, 89);
    float: left;
    width: 50%;
    font-weight: 100;
    padding: 25 5 15 60;
    font-size: 15pt;
    line-height: 135%;
}

.gameDiv{
    float: left;
    padding: 25 5 20 5;
    width: 50%;
    text-align: center;
}

.numberMatch{
    margin: 30 20 20 20;
}

#number-to-guess{
    padding: 0 15 0 10;
    border:  rgb(12, 64, 152) 4px solid;
    background-color: rgb(228, 241, 252);
    color: black;
    font-weight: bold;
    font-size: 96pt;
    line-height: 100%;
}
#totalScore{
    font-size: 30pt;
    line-height: 150%;
}

.playerStats{
    font-size: 20pt;
}

#wins{
    padding-right: 20px;
}

.crystal-image {
    width: 23%;
    padding: 10px;
}

#crystals{
    float: left;
    height: 200px;
    padding: 20px;
    margin-left: 30px;
    width: 90%;
    text-align: center;
}